{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome | imshalem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">


</head>

<body>
    <section class="s1">
        <div class="main-container">
            <div class="nav-wrapper">
                <div class="brand">
                    <a class="brand-name" href="{% url 'main:home' %}">im<span><b>shalem</b></span></a>
                </div>
                <ul id="navigation">
                    <li><a href="#">about</a></li>
                    <li><a href="#social">projects</a></li>
                    <li><a href="#contact-wrapper">contact</a></li>
                </ul>
            </div>
        </div>  
    </section>

    <section class="s2">
        
        <div class="center-column">
            <div class="intro">
                <img id="profile-pic" src="{% static 'images/animoji.png' %}">
                <h1 class="intro-text">Hi, I'm Shalem !</h1>
                <p class="short-about">I'm a Senior Machine Learning Associate at Amazon<br>
                    and a Backend Developer</p>

                <div class="link-block">
                    <ul id="about-nav">
                        <li><a href="#social">projects</a></li>
                        <li><a href="#">my resume</a></li>
                    </ul>   
                </div>
            </div>
        </div>

        
    </section>

    <section class="s4">
        <div class="social-link-wrapper">
            <div class="social-links">
                <ul id="social">
                    <li><a target="_blank" class="fa fa-linkedin" href="{{ profile.linkedin }}"></a></li>
                    <li><a target="_blank" class="fa fa-github" href="{{ profile.github }}"></a></li>
                    <li><a target="_blank" class="fa fa-instagram" href="{{ profile.instagram }}"></a></li>
                    <li><a target="_blank" class="fa fa-twitter" href="{{ profile.instagram }}"></a></li>
                    <li><a target="_blank" class="fa fa-google" href=""></a></li>

                </ul>
            </div>
        </div>
    </section>

    <section class="s3">
        <div class="main-container">
            <div class="project-wrapper">
                <div class="work-heading">
                    <p>Some of my works</p>
                </div>

                <div class="projects">
                    {% for project in all_projects %}
                        <a target="_blank" href="{{ project.github_repo }}"><div class="work">
                        <div class="work-preview">
                            <h4 class="project-title">{{ project.project_title }}</h4>
                            <p class="project-intro">{{ project.project_description }}</p>
                            <p class="language">{{ project.languages_used }}</p>
                        </div></a>
                    </div>
                    {% endfor %}
                </div>

        </div>

    </section>

    <section class="s5">
        <div class="main-container">
            <div id="contact-wrapper">
                <div class="contact-heading">
                    <p>Let's Build Something Together</p>
                </div>

                <div class="contact-info">
                    <p class="get-in-touch">GET IN TOUCH</p>
                    <p><b>brocode.py@gmail.com</b></p>
                    <p>Cheers !!!</p>
                </div>
            </div>

        </div>

    </section>

    <section class="s6">
        <div class="footer">
            <p class="footer-content">Made with ❤️ by <a target="_blank" href="https://www.instagram.com/brocode.py/">@brocode.py</a></p>
        </div>

    </section>

</body>
</html>